
/* ---------------------clear----------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-clapse:clapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}


/* -------------------style------------------------- */

html, body {width:100%; padding:0; margin:0;}
html {-webkit-text-size-adjust: none;}
body {color: #292929;font: 14px/25px Arial, Helvetica, sans-serif;background:#E2E2E2}
/*--#whole{background:url(../images/bgl2.png) no-repeat right top;position: relative; width: 1400px; margin:0 auto; padding: 0;}--*/
/*-------------------------*/
a{color: #006699;text-decoration: none;}
a:hover {text-decoration: none;}

a.button, input.button {	cursor: pointer;	color: #808080;	line-height: 12px;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold;	background: #E4E4E4;	border:1px solid #DFDFDF;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
input.button {	margin: 0;	border: 0;	height: 24px;	padding: 0px 12px 0px 12px;}
a.button:hover, input.button:hover {background: #006699;color:#ffffff;}

/*-------------header--- */
header {height: 145px; background:url(../images/bg-header.png) repeat-x;margin-bottom:6px; position: relative; width: 960px; margin: 0 auto; padding: 0;}

header #logo {margin-top:30px;width:960px;}
/*------------nav---- */
#navigation { height: 35px; line-height: 35px; float: left;position: relative; z-index: 20;width:960px;background:#006699 url(../images/lines2.png);margin-top:3px;}
#navigation ul { list-style: none; list-style-position: outside; font-size: 13px;}
#navigation ul li { float: left; position: relative; padding-right:0px;width:105px;}
#navigation ul > li.last { background: transparent; width: auto; float: left; padding-right: 0; border-right: 1px solid #d7e1e8 !important; }
#navigation ul > li.last a { border-radius: 0px 5px 5px 0px; -moz-border-radius: 0px 5px 5px 0px; -webkit-border-radius: 0px 5px 5px 0px; -o-border-radius: 0px 5px 5px 0px; }
#navigation ul > li.first a { border-radius: 5px 0px 0px 5px ; -moz-border-radius: 5px 0px 0px 5px ; -webkit-border-radius: 5px 0px 0px 5px ; -o-border-radius: 5px 0px 0px 5px; }
#navigation ul li a { color: white; float: left;  border-left: 0; border-right: 0; width:100px;text-align:center;}
#navigation ul li a:hover,
#navigation ul li.active a { color: #3995d6; text-decoration: none; }

#navigation ul li a span { width: 10px; height: 6px; float: right; padding-left: 3px; margin-top: 14px; }

#navigation ul li ul { display: none; float: none; line-height: 28px;  position: absolute; top: 35px; left: 0; width: 100px; background: #e1efff; border-radius: 0px 0px 5px 5px; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; -o-border-radius: 0px 0px 5px 5px; }
#navigation ul li:hover ul { display: block; }

#navigation ul li ul li { display: block; float: none; padding: 0; background: transparent;}
#navigation ul li ul li a {color:black; float: none; display: block !important; padding: 0 6px;width:88px;text-align:left;}
#navigation ul li ul li a:hover { float: none; display: block; background: transparent; background-color: #bdd7f4; }
#navigation ul li.last ul li a {  padding: 0 18px !important;  float: none; display: block;  border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -o-border-radius: 0px;}
#navigation ul li ul li.last { float: none; display: block; }
#navigation ul li ul li.last a { border-radius: 0px 0px  5px 5px; -moz-border-radius: 0px 0px  5px 5px; -webkit-border-radius: 0px 0px  5px 5px; -o-border-radius: 0px 0px  5px 5px; }

#navigation ul li ul li.first a { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -o-border-radius: 0px;}
#navigation ul li.first ul li a { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -o-border-radius: 0px;}

/*-------------content */
#content {}
.block {padding: 10px 0px 0px 0px;background:#ffffff;}
.sidebar section{margin-bottom: 0px;}
.sidebar .heading{color:#fffff0; background:#006699 url(../images/boxtitle.png) no-repeat left center; font-size:16px; font-weight:normal; padding: 10px 10px 10px 50px;height:20px;}
.sidebar .content{padding:10px;}
.sidebar .content img{float:left; margin:5px; max-width:32px ;max-height:32px}
ul {margin:0; padding:0;list-style-image:none;}
ul.list li {padding:0px 0 5px 12px; line-height:25px; background:url(../images/marker-1.gif) 0 11px no-repeat;}
ul.list li a { font-size:14px; color:#292929; line-height:25px;}
ul.list li a:hover {color:#006699; text-decoration:none;}

.mcontent{}
.rslides {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;}
.rslides li { position: absolute;display: none;width: 100%;left: 0;top: 0;}
.rslides li:first-child {position: relative;display: block;float: left;}
.rslides img {display: block;height: auto;float: left;width: 100%;border: 0;}
.rslides {margin: 0 auto; }
.rslides_container {position: relative;margin-left:auto;}
.centered-btns_nav {position: absolute;-webkit-tap-highlight-color: rgba(0,0,0,0);top: 50%;left: 0;opacity: 0.7;text-indent: -9999px;
  overflow: hidden;text-decoration: none;height: 61px;width: 38px;background: transparent url("../images/themes.gif") no-repeat left top;margin-top: -45px;}
.centered-btns_nav:active {opacity: 1.0;}
.centered-btns_nav.next {left: auto;background-position: right top;right: 0;}
.transparent-btns_nav {position: absolute;-webkit-tap-highlight-color: rgba(0,0,0,0);top: 0;left: 0;display: block;background: #fff; /* Fix for IE6-9 */opacity: 0;
  filter: alpha(opacity=1);width: 48%;text-indent: -9999px;overflow: hidden;height: 91%;}
.transparent-btns_nav.next {left: auto;right: 0;}
.large-btns_nav {position: absolute;-webkit-tap-highlight-color: rgba(0,0,0,0);opacity: 0.6;text-indent: -9999px;overflow: hidden;
  top: 0;bottom: 0;left: 0;background: #000 url("../images/themes.gif") no-repeat left 50%;width: 38px;}
.large-btns_nav:active {opacity: 1.0;}
.large-btns_nav.next {left: auto;background-position: right 50%;right: 0;}
.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {outline: none;}
.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {margin-top: 10px;text-align: center;}
.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {display: inline;float: none;_float: left;*float: left;margin-right: 5px;}
.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {text-indent: -9999px;overflow: hidden;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
  background: #ccc;background: rgba(0,0,0, .2);display: inline-block;_display: block;*display: block;-webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);width: 9px;height: 9px;}
.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {background: #222;background: rgba(0,0,0, .8);}

.mcontent article{margin: 20px 0;overflow:hidden; position:relative}
.mcontent .heading h2{ font-size:20px; line-height:25px; letter-spacing:-1px; font-weight:bold;}
.mcontent .heading .info{font-size:12px; font-style:italic;}
.mcontent .content{}
.mcontent .content img{float:left; margin:3px 30px 0px 0; border:#BDBDBD 5px solid;}
.mcontent .footer{}
.mcontent .footer .more{float:right;}
.mcontent .footer .more a{ text-decoration:none;}

/*-------------copyright*/
#copyright{text-align: center; background:url(../images/bg-footer.png);color:#ffffff;position: relative; width: 960px; margin: 0 auto; padding: 0;}

h1 {font-size:18px;bold;}
h2 {font-size:16px;bold;}
h3 {font-size:14px;}