{% extends "application.html" %}

{% block actions %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <form method="post" class="form-horizontal" action="/cumt/Login" enctype="multipart/form-data">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="email">邮箱</label>
          <div class="col-sm-9">
            <input type="text" id="email" name="email" class="form-control"></div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="password">密码</label>
          <div class="col-sm-9">
            <input type="password" id="password" name="password" class="form-control"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-3"></div>
          <div class="col-sm-4">
            <button name="Login" id="Login" submit="submit" class="btn btn-primary">登陆</button>
          </div>
          <div class="col-sm-4">
            <a href="/cumt/SignUp" class="btn btn-primary">注册</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
