{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">申请注意事项</h3></div>
      <div class="panel-body">
        <div class="row"><div class="col-md-1"></div>
          <div class="col-md-10">
            <ul>
              <li>本次大会观摩活动面向全校所有学生，不限专业、年级、学院，首次采取网络在线注册的形式由学生自主报名参与。</li>
              <li>大会观摩时间是4月27日上午，即第七届国际矿业科学与技术大会开幕式及大会主旨报告。</li>
              <li>地点是位于云龙湖风景区西北的开元名都大酒店。</li>
              <li>学校在大会召开当天将安排专车接送，并提供当天中午的自助餐。</li>
              <li>学生观摩注册平台将于4月15日（即下周三）9:00-17:00对外开放。观摩名单将于4月16日公布，届时请关注大会主页。</li>
              <li>名额限制：100名同学将获得观摩的机会。</li>
            </ul>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <h3>&nbsp;</h3>
        </div>
        {% block actions %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
