{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">申请注意事项</h3></div>
      <div class="panel-body">
        <div class="row"><div class="col-md-1"></div>
          <div class="col-md-10">
            <ul>
              <li>第一点</li>
              <li>第二点</li>
              <li>第三点</li>
            </ul>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <h3>&nbsp;</h3>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-2">
            <a href="/SignUp"><button class="btn btn-primary">申请</button></a>
          </div>
          <div class="col-md-2">
            <a href="/Login"><button class="btn btn-primary">登陆</button> </a>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
